#maze {
	margin: 10px;
}

.maze-row {

}

.cell {
	min-height: 10px;
	min-width: 10px;
	max-height: 30px;
	max-width: 30px;

	height: 4vw;
	width: 4vw;

	display: inline-block;
	float: left;
	border: 1px solid red;
}

.start, .end {
	background-color: lightgrey;
}

.no-wall-top {
	border-top: none !important;
}

.no-wall-bottom {
	border-bottom: none !important;
}

.no-wall-left {
	border-left: none !important;
}

.no-wall-right {
	border-right: none !important;
}