/*.center {
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}*/

#controls {
	padding: 40px 15px;
}

#maze {
	/*margin: 10px;*/
	padding: 40px 15px;
	margin: auto;
}

.cell {
	min-height: 10px;
	min-width: 10px;
	max-height: 30px;
	max-width: 30px;

	height: 4vw;
	width: 4vw;

	display: inline-block;
	float: left;
	border: 1px solid red;
}

#maze .row:first-child .cell {
	border-top-width: 2px;
}
#maze .row:last-child .cell {
	border-bottom-width: 2px;
}
#maze .row .cell:first-child {
	border-left-width: 2px;
}
#maze .row .cell:last-child {
	border-right-width: 2px;
}

.start {
	background-color: #4bf442 !important;
}
.end {
	background-color: #eea236 !important;
}
.visited {
	background-color: #e0e0e0;
}
.current {
	background-color: #b053db !important;
}

.no-wall-top {
	border-top: none !important;
}
.no-wall-bottom {
	border-bottom: none !important;
}
.no-wall-left {
	border-left: none !important;
}
.no-wall-right {
	border-right: none !important;
}